
.form-container{
    margin: 10vh auto;
    width: 450px;
    max-width: 90%;
    height: 100%;
    padding: 20px;
    background-color: #28292d;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}
#form{
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color:#28292d;
    border-radius: 4px;
    font-size: 20px;
}
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input, select {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 20px;
	padding: 5px 10px;
}

#form button{
    margin-left: 85%;
    margin-right: 20px;
    margin-top: 20px;
    transform: translateX(-50%);
    width: 130px;
    height: 35px;
    border: none;
    outline: none;
    background-color: bisque;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    color:black;
    border-radius: 5px;
    transition: .3s;
}
#form button:hover{
    opacity: .7;
}


.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

@media screen and (max-width: 450px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr;

    }
    .form-container{
        width: 100%;
    }
    .nav-slogan{
        display: none;
    }
}